@import "../../../../assets/scss/importAll";

.container {
    padding: 20px 15px;
    // width:100%;
    @include desktop {
      padding: 30px 97px;

  }
}
.products {
  // margin-top: 124px;
  background-color: #F7F7F7;
  // padding-top: 124px;
  padding-top: 70px;
}
