@import '../../../../../assets/scss/importAll';

// .container{}
.page{
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
}
.name {
    display: flex;
    align-items: center;
    margin: 30px 0;
    & > p {
        margin : 5px;
        &:first-child{
            font-size: 20px;
            background-color: #9EC4C7;
            color: white;
            width: 37px;
            text-align: center;
            border-radius: 10px;
        }
        &:last-child{
            font-size: 22px;
            font-weight: 500;
        }
    }

}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px 0;
}
.section{
    display :grid;
    margin: 12px 0;
}
