.slick-dots li button:before {
    height : 3px;
    content :'';
    border-top : 2px solid black;
}

a {
    text-decoration: none;
    color: black;
}
html{
    font-size:62.5%
}
body{
    background-color: #F7F7F7;
    font-size: 1.6rem;
    line-height:1.5;
    text-rendering: optimizeSpeed;
}